<!DOCTYPE html>
<head>
  <title>Hello World</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17-beta.0/vue.js"></script>
  <link rel="stylesheet" href="style.css">
  <meta charset="UTF-8">
</head>
<!--
https://codepen.io/ksantangelo/pen/ZBOpoJ?editors=1100
-->
<body>
<div id="app">
  <div class="paragraph">
    <center>
      <h1>冒险岛编年史</h1>
      <p>作者：
        <a href="http://tieba.baidu.com/home/main?un=缈§零梦">缈§零梦</a>
      </p>
      <p>特别感谢：</p>
      <p>冒险岛剧情组：
        <a href="http://tieba.baidu.com/home/main?un=夏目秋泽">夏目秋泽</a>
        <strong><a href="http://tieba.baidu.com/home/main?un=丨叶枫丨">丨叶枫丨</a></strong>
        <a href="http://tieba.baidu.com/home/main?un=孤傲de游侠">孤傲de游侠</a>
        <a href="http://tieba.baidu.com/home/main?un=小麻雀来偷兔子">小麻雀来偷兔子</a>
        <a href="http://tieba.baidu.com/home/main?un=破碎丶鈊">破碎丶鈊</a>
      </p>
      <!-- 夏目秋泽、丨叶枫丨、孤傲de游侠、小麻雀来偷兔子、破碎丶鈊 -->
    </center>
      <p>和以下大佬们：
        <a href="http://tieba.baidu.com/home/main?un=Quan_KC">Quan_KC</a>
        <a href="http://tieba.baidu.com/home/main?un=军团长麦格纳斯">军团长麦格纳斯</a>
        <a href="http://tieba.baidu.com/home/main?un=巨蟹希文">巨蟹希文</a>
        <a href="http://tieba.baidu.com/home/main?un=Yokki羽儿">Yokki羽儿</a>
        <a href="http://tieba.baidu.com/home/main?un=mfjlyq123">mfjlyq123</a>
        <a href="http://tieba.baidu.com/home/main?un=StygianLunar">StygianLunar</a>
        <a href="http://tieba.baidu.com/home/main?un=山间路旁的野草">山间路旁的野草</a>
        <a href="http://tieba.baidu.com/home/main?un=香菇鸭肉面">香菇鸭肉面</a>
        <a href="http://tieba.baidu.com/home/main?un=">琉璃星夜</a>
      </p>
      <p>本贴首发于百度贴吧：<a href="https://tieba.baidu.com/p/3657228828">贴吧链接</a></p>
    <p>Timeline demo: <a href="https://codepen.io/ksantangelo/pen/ZBOpoJ">Here</a></p>
  </div>
  <div class="paragraph">
    <h3>前言</h3>
    <h4>某复制粘贴的咸鱼的话</h4>
    <p>按照原作者贴目录来进行排序的。可能并不是那么严格地按照时间顺序。编年史的文件在story.js里，写成了json格式的。有兴趣的大佬们可以再改一改，另外这个时间表好像已经好久没有更新了...希望有心地善良的大佬可以补充一下最近的剧情，eg. 神秘河系列的故事...</p>
    <p><del>好人一生平安</del></p>
    <h4>作者的话</h4>
    <ul>
      <li>本文的记录目的是为同人创作和剧情党提供参考材料，而非同人性质的作品，故篇目较长且不具备直接娱乐性阅读价值，欲快速了解剧情梗概的读者们可直接阅读文初的大事表与文末的总结，以便对maple story游戏的背景有简单明了的理解。</li>
      <li>在剧情记录上，本文将继续保留“后置取代前置”和“尽可能扩张”的原则，对于修改后能除去矛盾的原始剧情（如扎昆、逆奥之城），本文将在进行允许范围内的修改后继续保留，但对于需要大幅度改动的剧情（如贝卡蒂、冒险岛ds剧情），本文将以完全替换或删除的方式处理。</li>
      <li>虽然本文保持尽量客观的记录态度，但由于其仍为非官方者记录，且游戏剧情中存在主观判断的成分，故在一些方面仍存在非客观性，大多数此类记录点已在段末在“另注”栏标出，若有读者发现仍存争议的位置欢迎提出您的宝贵意见。</li>
      <li>本无以客观与准确为优先，对于部分不确定性的事件，本文将在“另注”栏中注明，当读者阅读到“存疑”“待定”等类似字样段落时，请对该段的记载内容持保留意见。但除此以外的全部内容本文都来自于游戏的直接剧情和官方周边剧情，读者们相对可放心阅读，对于质疑来源的部分欢迎提问。</li>
      <li>对于已经确定发生时间的剧情（如各个职业，他们剧情发生时间并非按照更新顺序进行），本文已进行较合理的时间排序后记录；对于未在任务对话中提及时间的剧情（部分副本及boss），本文则按原更新顺序进行记录。</li>
      <li>虽然本文内容已经过剧情小组核验，但仍有可能产生错误或遗漏，欢迎读者们多多提出修缮意见，也请日后的读者们在阅读时注意层回复中的修正记录。</li>
      <li>考虑到层回复过多易使日后的读者产生阅读误区或者不便，故正文内容中非楼主的层回复可能会被隔时间段删除，以及时将附注或纠正内容放在易于阅读到的位置。因此当读者对某层内容提出异议时，如果可能请在帖子末尾进行统一回复，避免层回复过多的情况，其中造成的不便，还请读者谅解。</li>
    </ul>
  </div>
  <div class="paragraph">
    <h3>目录</h3>
    <div v-for="story in myStory">
      <div v-if="story.series" id="content">
        <!-- <a v-bind:href="url"> ... </a> -->
        <p>{{story.series}}. <a v-bind:href="'#'+story.series">{{story.storyTitle}}</a></p>
      </div>
    </div>
  </div>
  <div class="timeline">
    <div v-for="story in myStory" class="entry">
      <div class="title">
        <h3 v-if="story.storyWorld"> {{story.storyWorld}} </h3>
        <p></p>
      </div>
      <div class="body">
        <!--<div v-bind:class="{ active: isActive }"></div> -->
        <div v-if="story.series" v-bind:id="story.series"></div>
        <h4 :class="story.storyWorld">
          {{ story.storyTitle }}
        </h4>
        <p> {{ story.storyContent }}</p>
        <ul v-if="story.subStory">
          <li v-for="line in story.subStory"> {{ line }} </li>
        </ul>
        <div style="float: right; font-size: 12px"><a href="#content">[返回目录]</a></div>
      </div>
  </div>
</div>
<div class="paragraph">
  <h3>Q&amp;A</h3>
  <p><del>其实还有附录剧情</del></p>
  <p class="question">问：冒险家各代之间的关系？</p>
  <p class="answer">答：新的设定为“彩虹岛在上古之战时期不存在，之后才出现并召唤异世界的冒险家，而所有冒险家也全部都来自于异世界”。继承新设定并修改原来剧情后，冒险家应该可以分为三代。
第一代：冒险岛1.0中的原始冒险家，也就是四大初始职业（战士、法师、弓箭手、飞侠），在“彩虹岛”刚刚出现的相对和平年代，他们扮演的是扎昆、黑龙、闹钟、鱼王、PB这几个事件的主角，也是蝙蝠魔抓走小强小乖事件后去金银岛寻找的冒险者；
第二代：海盗职业（也就是舰长“凯琳”回归）开放后到战神、龙神剧情开始前出现的冒险家，附加了海盗和双刀两个职业，他们在某种程度上也可以归为第一代（其中部分参与了PB这些第一代末期的事件），并和第一代一起成为了冒险家们的主力军，其中很多人已经成为联盟的精英参与各个活动（例如鲁塔比斯战役涌现的表现出色圣骑士、双刀，以及阿卡伊勒穿越时空事件中的十字军团）。
第三代：RED版本开放后诞生的冒险家，也就是当下版本再次创号后我们扮演的对象，这个时候黑魔法师活动已经正式开始，其成长历程已经和联盟密切相关，与前两代一同参与了保卫封印石的各个事件，单独参与了黑魔法师在时间神殿的封印解除事件。相对于经验较为老练的前两代，这一代算是新起之星。</p>
  <p class="question">问：幻影的管家的雇佣时间？</p>
  <p class="answer">正反两边的证据如下。</p>
  <p class="answer">管家在500年前就雇佣了：管家知道渡鸦用药过度而死的事实，管家口述“当初以为少爷只是一个嚷着要冒险的富家公子”。</p>
  <p class="answer">管家在幻影苏醒后才聘用：普通人基本不可能活过500年，管家口述“没想到少爷居然是过去的英雄”，幻影的宝库百年来并没有人照顾，有了水晶花园（剧情中已确认是苏醒后购买）才有了管家的价值。</p>
  <p class="answer">经剧情小组讨论后，结论倾向于“管家在幻影苏醒后才聘用”这个观点。</p>
  <p class="answer">1-渡鸦作为非常知名的怪盗，他的行动和突然失踪的缘由当时应该有很多人关心，也就有了被书本记载的可能（这个时期的记录斯乌没有去删除）。那么作为一个目前表现的非常的尽职的管家，因为主人是渡鸦的弟子而特意去查找渡鸦的记录，这一点可以说通。</p>
  <p class="answer">2-管家并没有类似龙神的契约绑定和双弩的种族连带这种特性，如果说诅咒会因接触过近而扩散，那么十字军团任务中的成员在于战神等英雄的接触中应当也守影响，但事实相反。而即便是炼金和魔法造诣非凡的冰封雪域的“阿尔卡斯特”，也只是经历了三百年便白发苍苍，同为人类的管家理论上是活不到500年的。</p>
  <p class="answer">3-“管家口述‘当初以为少爷只是一个嚷着要冒险的富家公子’”这一点，因为幻影与管家见面时由于诅咒影响实力仅为10级，又有大量金钱挥霍，是有可能产生这样的理解的，这个“当初”也存在翻译模糊，无法辨认出是否指“上古时期”。</p>
  <p>综上，各证据相对更倾向于后者观点，故得出如上结论。</p>

  <p class="question">问：黑魔法师在玛加提亚试验的时间？</p>
  <p class="answer">本文暂时认为其试验时间在由白魔法师堕落后到上古之战开始前的时期里，但也只是在新设定给出前的“暂时”。正反证据如下：</p>
  <p class="answer">在其堕落前试验：</p>
  <p class="answer">1- 玛加提亚剧情中指明了试验者是“黑魔法师”，在他还是白魔法师的时期留下的痕迹是无法表明其是日后的黑魔法师的，而玛加提亚剧情发生在次元图书馆剧情前，那时候人们不知黑魔法师的来历，能判断出试验者是“黑魔法师”就是其在试验时已经堕落的证据。</p>
  <p class="answer">2- 白魔法师“靠一根魔杖行走十余年”，这点与玛加提亚剧情中“黑魔法师在此实验数百年”相冲突，故其剧情应该在他成为黑魔法师，消失在人们视野中之后。</p>
  <p class="answer">在其堕落后试验：</p>
  <p class="answer">1- 玛加提亚的试验对象为生命炼金，这与其多落后应进行的极暗试验不相符。</p>
  <p class="answer">2- 在白魔法师时期，他就已经给予了斯乌和奥尔卡肉体，原本作为光明超越者的他不大像有给予肉体的权能（这倒像是生命超越者的力量），疑似为经过玛加提亚生命炼金研究后的产物。</p>
  <p class="answer">综上，正反均有很难反驳的观点，而玛加提亚剧情在设定时间上较早，也可能日后被重置或追加，本文暂时以前者观点进行记录，但也请读者暂时保留个人意见，如有新证据或者韩方消息后，本文再做修改。</p>

  <p class="question">问：我曾经阅读到“阿卡伊勒通过不成功的穿越警告过去的自己，但失败而无限循环，最终惨死”这类“官方设定”，为什么文中没有提及呢？</p>
  <p class="answer">答：请注意，这一类“官方设定”仅是同人作品一传十十传百的结果。这个说法最初起自于766网络的一次同人创作活动，并被贴在766首页上供读者欣赏，但因为其没有注明“同人创作”的前提下被多次阅读和转载，很多读者误将其纳入正史。可以确定的是，正史中军团长至今没有任何死亡记录或所谓“结局”的出现。与此情况相同的还有“创世女神‘阿莉尔/艾琳’”以及曾被本文误采纳的“远古大陆‘泛古路’”这种取自wiki或者百度百科的同人设定。</p>
  <p class="question">问：“品克缤（PB）”难道不是女神“伦娜”的宠物吗？</p>
  <p class="answer">答：PB是女神的宠物的说法取自于它刚刚成为boss时的称号“时间的宠儿——品克缤”，但未指明这个“时间”是时间超越者“伦娜”。在神之子剧情中Alpha& Beta曾与PB遭遇，且感觉到这是“像来自其余世界的与时间之力截然不同的存在”，并向神官们说明时，神官称之为“比女神（即伦娜）更古老的过去神灵的残渣”。这个“更古老的过去神灵”是指伦娜之前的时间超越者，或是其他世界来的时间超越者，甚至是在那之上的时间监督者都未能可知。唯一能确定的是，这位“时间的宠儿”并非当下的时间超越者“伦娜”的宠物。</p>
  <p class="question">问：冒险岛ds剧情为什么不纳入正史呢？</p>
  <p class="answer">答：ds剧情中确实出现了很多精彩到让我们难以割舍的内容，最著名的便是其中的闹钟（帕拉图斯）剧情。但与正史的对比中，我们遗憾的发现其中“四源罪”“冒险岛创世女神”等设定过于超纲（正史中无相关描述），且这种在ds设定中三千年前就存在（远早于上古之战）的设定一旦写入正史会产生先入的影响，无法满足“作为不过多涉入主线的分支剧情”的条件。因为N社编写ds剧情的时间较早，无法跟随当下剧情的发展，虽然N社在日后可能将其修改后放入正史（像旧版的逆奥之城一样），但在眼下，不要在研究正史时过多考虑ds剧情或许是更明智的选择。</p>
  <p class="question">问：所谓“Red冒险家”“V111版骑士团”“新版暗影双刀”是如何定义的呢？</p>
  <p class="answer">答：类似于在第一问中对冒险家关系的解释，“新版骑士团”跟“Red冒险家”一样，是顺承旧版骑士团剧情进行的，这一点在其出生的圣地剧情中就能有所体会（旧版骑士团亲身经历了变形术士和黑魔女对圣地的入侵，而新版骑士则以模拟训练等方式“感受”），即骑士团也有第一代与第二代之分。但与冒险家和骑士团不同，新版暗影双刀职业则是将原剧情进行了推翻和修改，即进行了重编后覆盖掉了旧版暗影双刀，并无第一代与第二代之分。</p>
  <p class="question">问：夜光能和神之子一样视作未觉醒的超越者吗？</p>
  <p class="answer">答：夜光是从“黑魔法师由白魔法师转化后残存的纯粹的光结晶”中诞生的，这一点与神之子从“伦娜用力量凝结成的眼泪”中诞生有一定相似性。然而，毕竟伦娜的出发点是为了创造继任者，黑魔法师则是单纯将无法转化的黑暗的部分剔除，再加上转化为夜光的光结晶只是相对光明超越者全体力量中“残存”的极小一部分了，故与神之子相比还是有很明显的差距的。或许若黑魔法师死亡导致光明超越者缺失时，夜光有晋升为超越者的可能，但在目前来看他的身世仅仅是能赋予他使用光魔法的体质，还无法算入神之子那种准超越者级别。</p>
  <p class="question">问：许多剧情副本里不同职业都有独立剧情，那么这时候在正史里应视作谁参加的呢？</p>
  <p class="answer">答：对于大多数剧情副本，参与的人数都不止一人（如阿卡伊勒的是整个十字军团，黑色天堂的是联盟的各个组织），这时候我们可以视作他们都参加了，但玩家在不同阶段扮演的角色并不唯一，或是多数职业同时参与，例如，在黑色天堂中，我们在做独立剧情时扮演的是对应的职业，但之后剧情里以“队长”身份代理圣地的三只小鸡时则是所有账号统一扮演另一人，换句话说，这个剧情中“队长”仅有一人，是某个不确定的联盟成员，而其余职业并非这个“队长”，只是单纯的参战成员，其它剧情副本同理（例如数名十字军成员一起在阿卡伊勒副本里帮助受伤的英雄们）；唯一例外的是，在艾琳森林副本里因为“卡奥”仅是一人，所以回到过去的应也只有一人（应道是某个冒险家），虽然战神和夜光都有独立剧情，但我们此时应将其视为另一段剧情（即并非扮演“卡奥”，而是带着各自的目的穿越到过去探寻信息）。</p>
  <p class="question">问：冒险家“卡奥”到底是谁？</p>
  <p class="answer">答：我们先列出两人：原来的卡奥，Red冒险家A。</p>
  <p class="answer">首先我们要知道，混血儿“提斯（凯琳的哥哥）”在上古时期就出生了，然后如下。</p>
  <p class="answer">原来的卡奥：在上古之战时期出生，结识混血儿“提斯”，卷入时间漩涡，失忆，被“时间神殿管理员”搭救，成为时间神官。</p>
  <p class="answer">Red冒险家A（长相与卡奥相同）：在现世出生，被混血儿“提斯”当作卡奥，成长（冒险之书任务），进行艾琳森林任务（也代替原来的卡奥与提斯互动），回到现世，进行时间神殿任务（发现本来的卡奥），完成冒险之书任务。</p>
  <p class="answer">也就是说，提斯在上古时期就认识了原本的卡奥，在卡奥消失在时间漩涡后又结识了从现世穿越过去的Red冒险家A；500年过后，提斯在彩虹岛遇到了刚刚来到Maple世界的Red冒险家A（但是此时该冒险家A初来冒险岛，还没有进行艾琳森林任务，自然也就不认识提斯）。
  而对于原来的卡奥，他只是与提斯有过一段时间交集，之后就卷入时间漩涡失忆当神官了，再也没有直接参与其余剧情中（当然也不排除参与日后剧情的可能）。</p>
  <p class="answer">最后至于艾琳森林的战神和夜光的独立剧情，参考问答9，仅为回到过去寻找某些东西，从头至尾也没参与有关卡奥的活动。</p>
</div>
</div>
<script src="story.js"></script>
</body>
